* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

em {
    font-style: normal;
}

header {
    overflow: hidden;
    position: relative;
    background-color: #14213d;
    color: white;
    padding: 40px 0;
    font-size: 14px;
}

.headerContainer {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    display: inline-block;
    padding: 5px;
}

.socials {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.socials a img{
    margin-left: 10px;
    padding: 10px;
}

.socials img:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.116) 15%, rgba(255, 255, 255, 0.226) 44%, rgba(255, 255, 255, 0.315) 73%, rgba(255, 255, 255, 0.39) 100%);
    border-radius: 10px;
}

.menu {
    float: right;
    padding: 15px;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
    padding: 10px;
}

.menu a {
    color: white;
}

.menu li:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.116) 15%, rgba(255, 255, 255, 0.226) 44%, rgba(255, 255, 255, 0.315) 73%, rgba(255, 255, 255, 0.39) 100%);
    border-radius: 10px;
}



/* BANNER */

.banner {
    background-image: url(./assets/images/banner.webp);
    background-size: cover;
    color: white;
}

.bannerWrap {
    max-width: 90%;
    margin: auto;
}

.bannerTitle {
    width: 100%;
    padding: 150px 0;
}

.bannerTitle h1 {
    font-size: 48px;
    background: rgba(0, 0, 0, 0.45);
    padding: 25px 70px;
    font-weight: 400;
}

.bannerTitle p {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.45);
    padding: 70px;
    margin-top: 25px;
    line-height: 45px;
}

.bold {
    font-weight:700;
}

.medium {
    font-weight: 500;
}




/*SERVIÇOS*/

.servicos {
    background-color: #fca311;
    background-image: linear-gradient(160deg, #fca211e5 25%, #fdaf43f6 59%, #eeb552e3 88%);
    padding: 100px 0;
    border-top: black solid 5px;
    border-bottom:black solid 5px;
}

.containerServicos {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.servicos h1 {
    font-weight: bold;
    font-size: 38px;
    text-shadow: 5px 5px 5px #0000004D;
}

.servicos h2 {
    font-weight: 900;
    font-size: 36px;
    margin-top: 100px;
    text-shadow: 5px 5px 5px #0000004D;
}

.trabalhos {
    max-width: 80%;
    margin: 100px auto 0;
}

.trabalhos p {
    margin-top: 10px;
}

.alvenaria {
    margin-bottom: 100px;
    box-shadow: 4px 4px 4px #000000c4;
    border: black solid 0.5px;
}

.alvBg {
    width: 100%;
    height: 400px;
    background-image: url(./assets/images/alv1.png);
    background-size: cover;
}

.pisos {
    margin-bottom: 100px;
    box-shadow: 4px 4px 4px #000000c4;
    border: black solid 0.5px;
}

.pisoBg {
    width: 100%;
    height: 400px;
    background-image: url(./assets/images/alv2.png);
    background-size: cover;
}

.pintura {
    box-shadow: 4px 4px 4px #000000c4;
    border: black solid 0.5px;
}

.pinturaBg {
    width: 100%;
    height: 400px;
    background-image: url(./assets/images/alv3.png);
    background-size: cover;
}

.box {
    width: 100%;
    padding: 100px 100px;
    text-align: center;    
}


.black {
    background-color: black;
    color: white;
}

.white {
    background-color: #E5E5E5;
}




/* FOOTER */

footer {
    position: relative;
    background-color: #14213d;
    color: white;
    padding: 60px 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.contatos1 {
    width: 200px;
    display: inline-block;
}

.contatos1 a {
    display: block;
    margin-top: 10px;
}

.logoFooter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contatos2 {
    float: right;
    
}

.contatos2 a {
    display: block;
    margin-top: 10px;
}

.icon {
    margin-right: 10px;
}

/*Media Queries*/

@media screen and (max-width: 1024px) {

    header {
        padding: 25px 0;
    }

    .headerContainer {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
    }

    .logo {
        display: block;
        text-align: center;
        margin: 15px 0;
        padding: 0;
    }

    .socials {
        position: relative;
        display: block;
        margin: 15px 0;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }

    .menu {
        float: none;
        margin: 15px 0;
        padding: 0;
    }

    .menu li {
        display: block;
        padding: 15px;
    }

}


@media screen and (max-width: 713px) {
    .bannerWrap {
        max-width: 100%;
    }
    
    .bannerTitle {
        width: 100%;
        padding: 100px 0;
    }

    .bannerTitle h1 {
        font-size: 28px;
        padding: 50px;
    }
    

    .bannerTitle p {
        font-size: 18px;
        background: rgba(0, 0, 0, 0.45);
        padding: 50px;
        margin-top: 25px;
        line-height: 30px;
    }

    .containerServicos {
        width: 100%;
        text-align: center;
    }
    
    .servicos {
        padding: 50px 0;
    }

    .servicos h1 {
        font-size: 28px;
    }

    .servicos h2 {
        font-size: 30px;
        margin-top: 100px;
        text-shadow: 5px 5px 5px #0000004D;
    }

    .trabalhos {
        max-width: 80%;
        margin: 50px auto;
    }

    footer {
        padding: 50px 0;
    }

    .contatos1 {
        width: 200px;
        display: inline-block;
    }
    
    .contatos1 a {
        font-size: 12px;
    }
    
    .logoFooter {
        width: 80px;
    }
    
    .contatos2 {
        float: right;
        
    }
    
    .contatos2 a {
        font-size: 12px;
    }
    
    .icon {
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 515px) {

}