* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

em {
    font-style: normal;
}

header {
    position: relative;
    background-color: #14213d;
    color: white;
    padding: 40px 0;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
}

.socials {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.socials a img{
    margin-left: 10px;
    padding: 10px;
}

.socials img:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.116) 15%, rgba(255, 255, 255, 0.226) 44%, rgba(255, 255, 255, 0.315) 73%, rgba(255, 255, 255, 0.39) 100%);
    border-radius: 10px;
}

.menu {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
}

.menu li {
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
    padding: 10px;
}

.menu a {
    color: white;
}

.menu li:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.116) 15%, rgba(255, 255, 255, 0.226) 44%, rgba(255, 255, 255, 0.315) 73%, rgba(255, 255, 255, 0.39) 100%);
    border-radius: 10px;
}

/* BANNER */


.banner {
    background-image: url(./assets/images/banner.webp);
    background-size: cover;
    color: white;
}

.bannerTitle {
    padding: 150px 0;
}

.bannerTitle h1 {
    font-size: 48px;
    background: rgba(0, 0, 0, 0.45);
    padding: 25px 70px;
    font-weight: 400;
}

.bannerTitle p {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.45);
    padding: 70px;
    margin-top: 25px;
    line-height: 45px;
}

.bold {
    font-weight:700;
}

.medium {
    font-weight: 500;
}

/*SERVIÇOS*/

.servicos {
    background-color: #FCA311;
    padding: 100px 0;
    border-top: black solid 5px;
    border-bottom:black solid 5px;
}

.alvenaria {
    display: inline-block;
}

.trabalhos {
    margin-top: 100px;
}

.trabalhos p {
    margin-top: 10px;
}

.trabalhos img {
    display: inline-block;
    width: 50%;
    height: 464px;
}

.box {
    height: 464px;
    width: 50%;
    padding: 150px 100px;
    text-align: center;
    float: left;
    text-align: center;
    
}

.pisos {
    display: inline-block;
    
}

.pisos img {
    float: left;
}

.pintura {
    display:inline-block;
    
}

.black {
    background-color: black;
    color: white;
}

.white {
    float:right;
    background-color: #E5E5E5;
}





